body, html {
	margin: 0px;
	padding: 0px;
	background-color: forestgreen;
}

#gallery_switch {
	display: none;
}

h1 {
	text-align: center;
	font-family: 'Rock Salt', cursive;
	font-size: 60px;
	color: yellowgreen;
	text-shadow: 7px 7px 15px #000;	
	margin-bottom: 10vh;
}

#button_container {
	text-align: center;
}

#toggle_gallery {
	display: inline-block;
	text-align: center;
	font-family: 'Rock Salt', cursive;
	background-color: mediumvioletred;
	padding: 15px 55px;
	border-radius: 15px;
	color:white;	
	box-shadow: 7px 7px 15px #000;
	font-size: 20px;
}

#toggle_gallery:active {	
	margin-top: 5px;
	box-shadow: 2px 2px 10px #000;	
	transition: all ease 0.15s;
}

#cover {
	background-image: url(../images/stuttgart.jpg);
	background-size: cover;
	height: 84vh;
	padding-top: 16vh;
	background-position: center top;
}

#gallery_overlay {
	position: absolute;
	top: -50vh;
	left: 0;
	width: 100%;
	height: 33vh;
	background-color: rgba(0,0,0,0.7);
	transition: all ease 0.6s;
	box-shadow: 10px 10px 15px;
	opacity: 0;
}

#gallery_switch:checked + #gallery_overlay {
	top: 33vh;
	opacity: 1;
}

#gallery_container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	height: 33vh;
}

#images_wrapper {
	width: calc(100% - 120px);
	overflow: hidden;
}

#gallery_images {
	display: flex;
	resize: none;
	flex-wrap: nowrap;
	flex-direction: row;
	height: 33vh;	
	transition: all ease 1s;
	margin-top: 0vh;
	margin-left: 0%;
	position: relative;
	left: 0%;
	top: 0%;
}

.image_container {
	width: calc(33.33% - 20px);	
	height: 33vh;	
	transition: all ease 0.2s;
	text-align: center;
	flex-shrink: 0;
	padding: 0px 10px;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.image {
	max-width: 100%;
	max-height: 100%;
	transition: all ease 0.6s;
	transform: scale(1);
}

.image.zoom_out {
	transform: scale(0);
}

.gallery_button {
	width: 60px;
	border: none;
	background-color: rgba(0,0,0,0.5);
	outline: none;
}

.gallery_button_text {
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	transition: all ease 0.15s;
	display: inline-block;
	position: relative;
	top:0;
	left:0;
	font-family: 'Rock Salt', cursive;
}

#button_prev:active > .gallery_button_text {
	left: -3px;
}

#button_next:active > .gallery_button_text {
	left: 3px;
}

.gallery_button:hover, .close_gallery:hover {
	background-color: rgba(0,0,0,0.7);
}

#close_gallery {
	position: fixed;
	top: -100vh;
	left: calc(50% - 40px);
	background-color: rgba(0,0,0,0.7);
	color: #FFF;
	font-family: 'Rock Salt', cursive;
	font-size: 30px;
    padding: 10px 36px;
	border-radius: 47px;
	transition: all ease 0.6s;
	transform: scale(1);
}

#close_gallery:active {		
	transform: scale(0.95);
	transition: all ease 0.15s;
}

#gallery_switch:checked + #gallery_overlay > #close_gallery{
	top: 70vh;
}

#image_zoom_overlay {
	position: fixed;
	top: 130vh;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	background-color: rgba(0,0,0,0.7);
	opacity: 0;
	transition: all ease 0.6s;	
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center; 	
}

#image_zoom_overlay.zoom {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
}

@media (orientation: portrait) {
	#gallery_container {
		flex-direction: column;
		width: 100%;
		height: 100vh;
		top:0%;
		left:0%;
	}
	.gallery_button {
		height: 60px;
		width: 100%;
	}
	.gallery_button_text {
		writing-mode: vertical-lr;
	}
	#button_prev:active > .gallery_button_text {
		top: -4px;
		left: 0px;
	}
	
	#button_next:active > .gallery_button_text {
		top: 4px;
		left: 0px;
	}
	.image_container {
		width: calc(100% - 40px);
		height: calc(33.33vh - 80px);
		padding: 20px;
	}
	#gallery_overlay {	
		position: absolute;
		top: 0vh;
		left: -100%;
		width: 100%;
		height: 100vh;
		background-color: rgba(0,0,0,0.7);
		transition: all ease 0.6s;
		box-shadow: 0px 0px 0px;
	}
	
	#gallery_switch:checked + #gallery_overlay {
		left: 0vh;
		top: 0px;
	}

	#gallery_images {
		flex-direction: column;
	}
	#images_wrapper {
		height: calc(100vh - 120px);
		width: 100%;
	}
	#close_gallery {
		position: fixed;
		top: -100vh;
		left: 25px;
		font-family: 'Rock Salt', cursive;
		background-color: #000;
	}
	
	#gallery_switch:checked + #gallery_overlay > #close_gallery{
		top: 75px;
	}
}